<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Add Person</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/static.css}"/>
</head>
<body>
<div class="container">

  <h1>New book:</h1>
  <form th:action="@{/addemployee}"
        th:object="${itform}" method="POST">
    <p>Name:
      <input type="text" th:field="*{name}" />
    </p>
    <p> Department:
      <input type="text" th:field="*{department}" />
    </p>
    <p> Role:
      <input type="text" th:field="*{role}" />
    </p>
    <input class ="button-main-page" type="submit" value="Add" />
  </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>
